.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

.menuItem {
	display: inline-block;
}

.menuItem a {
	color: gray;
	margin: 1rem;
	text-decoration: none;
}

.menuContainer {
	padding: 1rem;
	margin: 1rem 0;
	border: 1px solid gray;
	background-color: lightgray;
}

.menuItemActive {
	font-weight: bold;
}
