.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 5rem;
	padding: 5rem 1.5rem;
	overflow: hidden;
}

.headerImage {
	position: absolute;
	inset: -5%;
	background: url(../../assets/images/header.jpg) center no-repeat;
	background-size: cover;
	z-index: -1;
}
